.head-title {
    height: 50px;
    background: rgb(10, 0, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 153, 0);
}

.head {
    font-size: 35px;
    font-family: Gill Sans;
    margin-bottom: 0;
}
.head-title h4 {
    background-image: linear-gradient(60deg, #ffdfbb,#ffcca2, #ffc38b, rgb(253, 224, 185));
    background-clip: text;
    color: transparent;

}

 .bgcolor {
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(255,166,0);
    display: flex;
    justify-content: center;
    align-items: center;

 }
.customLink{
    text-decoration: none;
    color: #ffc38b;
}
.signout-btn{
    border: none;
    background: inherit;
    color: rgb(46, 0, 107);
}


.dropdown {
    border: none;
    color: rgb(46, 0, 107);
}
.dropdown:hover{
    color: #e27c1d;
}
.drop-link{
    text-decoration: none;
}